.sloupec {
	padding: 20px;
}

.parkovani{background-color: #d52d12;}
.volnaMista	{ background-color: #fdc927; }
.oteviraciDoba	{ background-color: #e7a17e; }
.upcoming			{ background-color: #e7a17e; }
.otevritZavoru	{ background-color: #fa9b36; }
.kontakty	{ background-color: #d52d12; }
.lokalita{background-color: #fdc927;}


/* ---------------------------------------------------- */

.kontejner{
	display: grid;
	grid-template-columns: 200px auto 250px;
	grid-template-rows: 200px auto 100px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 150px 150px 200px 200px;
	gap: 30px;
	margin: 30px;
	text-align: center;
	
}

.parkovani{
    grid-column: 1/3;
    grid-row: 1;
	border-radius: 25px;
}
.volnaMista{
	grid-column: 1;
	grid-row: 2;
	border-radius: 25px;

}

.upcoming{
	grid-column: 1;
	grid-row: 3/5;
	border-radius: 25px;
}
.oteviraciDoba{
	grid-column: 2;
	grid-row: 2;
	border-radius: 25px;
}
.otevritZavoru{
	grid-column: 2;
	grid-row: 4;
	border-radius: 25px;
}

.kontakty{
    grid-column: 1/3;
    grid-row: 5;
	border-radius: 25px;
}
.lokalita{
    grid-column: 2;
    grid-row: 3/4;
	border-radius: 25px;
}

.Události{
	margin-right: auto;
	margin-left: auto;}
	
	
	
.doba{
		margin-right: auto;
		margin-left: auto;
}
	
	
h2 {
		font-size: 40px;
}
